body,html,ul,li,div,span,a,p,input, textarea{
  margin: 0;
  padding: 0;
}
body,button,input,select,textarea{
  font: 12px/1.6 tahoma,arial,sans-serif;
}
button{
  cursor: pointer;
}
ul li{
  list-style: none;
}
.fl {
  float: left;
}
.clear {
  clear: both
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
input, textarea {
  outline: none;
}
a img {
  border: 0;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: #333;
}
.message{
  position: relative;
  width: 136px;
  height: 50px;
  top: -300px;
  margin: 0 auto;
  line-height: 50px;
  text-align: center;
  background: #24c070;
  color: white;
  font-size: 14px;
  z-index: 4;
}
